body{
    margin: 0;
    padding: 0;
    background-color: white;
}
nav {
    background-color: #46b549;
    padding: 20px;
    display: flex;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;
}
nav h1 {
    color: white;
    margin:0;
    font-family: Arial, sans-serif;
    font-size: 34px;
    margin-left: 5px;
    margin-top: 10px;
}
nav img {
    height: 50px;
    width: 50px;
}
.content {
    margin-top: 70px; 
    padding: 20px;
}

h2{
    text-align: center;
    font-family:Arial, sans-serif;
    color: #52a1cd;
    font-size: 34px;
}

.text{
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.text h3{
    color: #15425b;
    font-size: 24px;
    
}

.components {
    display: flex;
}

.components p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 20px;
    margin: auto;
}

.components img {
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.components .energiaDiv img {
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    width: 500px;
    margin-top: 60px;
    border-radius: 15px;
}

img.imgContainer {
    height: 180px;
    width: 180px;
    margin-left: 90px;
    margin-top: 20px;
}

.info p{
    color: white;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    margin-left: 770px;

}

.components .piramide img {
    height: 550px;
    width: 550px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

.components .imagen {
    height: 300px;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    margin-top: 30px;
}